<%= helpers.vcr_boundary(path: vcr_envelope["path"]) do %>
  <section>
    <h1>VCR Dummy</h1>
    <% if vcr_state["data"]["page"] == "page1" %>
      <p>Page1</p>
      <%= helpers.vcr_dispatch_form(state: vcr_state_token, msg_type: "NextPage") do %>
        <button type="submit">Next</button>
      <% end %>
    <% else %>
      <p>Page2</p>
    <% end %>
    <p>Loading: <%= vcr_state["meta"]["loading"] %></p>

    <%= helpers.vcr_dispatch_form(state: vcr_state_token, msg_type: "ClickedSave") do %>
      <button type="submit">Save</button>
    <% end %>
  </section>
<% end %>
