[tasks.test]
description = "Run RSpec"
run = "bundle exec rspec && redis-server --daemonize yes && npm run test:e2e"

[tasks."test:e2e"]
description = "Run Playwright E2E"
run = "redis-server --daemonize yes && npm run test:e2e"

[tasks."test:spec"]
description = "Run RSpec and Playwright E2E"
run = "bundle exec rspec"

[tasks.lint]
description = "Run Rubocop"
run = "bundle exec rubocop -A"

[tasks.all]
description = "Run RSpec, Playwright E2E, and Rubocop"
run = "bundle exec rspec && redis-server --daemonize yes && npm run test:e2e && rubocop -A"

[tasks."servers:redis"]
description = "Start Redis server"
run = "redis-server --daemonize yes"

[tasks."servers:rails"]
description = "Start dummy Rails server"
run = "cd spec/dummy && RAILS_ENV=development bin/rails server -b 127.0.0.1 -p 3000"

[tasks."servers:up"]
description = "Start Redis and dummy Rails server"
run = "redis-server --daemonize yes && cd spec/dummy && VCR_ADAPTER=redis RAILS_ENV=development bin/rails server -b 127.0.0.1 -p 3000"

[tasks."servers:up:session"]
description = "Start Redis and dummy Rails server (session adapter)"
run = "redis-server --daemonize yes && cd spec/dummy && VCR_ADAPTER=session RAILS_ENV=development bin/rails server -b 127.0.0.1 -p 3000"

[tasks."servers:up:hidden_field"]
description = "Start Redis and dummy Rails server (hidden field adapter)"
run = "redis-server --daemonize yes && cd spec/dummy && VCR_ADAPTER=hidden_field RAILS_ENV=development bin/rails server -b 127.0.0.1 -p 3000"
